{% extends "adminbase.html.twig" %}

{% block body %}
    {%  if list %}
    <div class="admin-form actus">
        <h3>Modification d'une actualité</h3>
        <form method="post" action="#">
            <p>
                <label for="titre">Titre :</label>
                <input type="text" name="titre" id="titre" value="{{ list.titre }}">
            </p>

            <p>
                <label for="lieu">Lieu :</label>
                <input type="text" name="lieu" id="lieu" value="{{ list.lieu }}">
            </p>

            <p>
                <label for="architecte">Architecte :</label>
                <input type="text" name="architecte" id="architecte" value="{{ list.architecte }}">
            </p>

            <p>
                <label for="type">Type :</label>
                <input type="text" name="type" id="type" value="{{ list.type }}">
            </p>

            <p>
                <label for="description">Description :</label>
                <textarea name="description" id="description" style="height:200px;" value="{{ list.description }}"></textarea>
            </p>

            <p>
                <label for="mainimage">mainimage :</label>
                <input type="text" name="mainimage" id="mainimage" value="{{ list.mainimage }}">
            </p>

            <p>
                <label for="images">images :</label>
                <input type="text" name="images" id="images" value="{{ list.images }}">
            </p>


            <p>
                <input type="hidden" name="datepub" id="datepub" value="{{ list.datepub }}">
            </p>

            <input type="submit" value="Modifier">
        </form>
    </div>
    {% else %}
    <div class="admin-form actus">
    <h3>Ajout d'une actualité</h3>
        <form method="post" action="#">
            <p>
                <label for="titre">Titre :</label>
                <input type="text" name="titre" id="titre">
            </p>

            <p>
                <label for="lieu">Lieu :</label>
                <input type="text" name="lieu" id="lieu">
            </p>

            <p>
                <label for="architecte">Architecte :</label>
                <input type="text" name="architecte" id="architecte">
            </p>

            <p>
                <label for="type">Type :</label>
                <input type="text" name="type" id="type">
            </p>

            <p>
                <label for="description">Description :</label>
                <textarea name="description" id="description" style="height:200px"></textarea>
            </p>

            <p>
                <label for="mainimage">mainimage :</label>
                <input type="text" name="mainimage" id="mainimage">
            </p>

            <p>
                <label for="images">images :</label>
                <input type="text" name="images" id="images">
            </p>


            <p>
                <input type="hidden" name="datepub" id="datepub" value="{{ "now"|date("d/m/Y") }}">
            </p>

            <input type="submit" value="Ajouter">
        </form>
    {% endif %}
{% endblock %}