{% extends "adminbase.html.twig" %}


{% block body %}
    <h1>GESTION DES PARTENAIRES</h1>

    <table>
        {% for elem in partenaires %}
            <tr>
                <td>{{ elem.nom }}</td>
                <td>{{ elem.departement }}</td>
                <td>{{ elem.url }}</td>
                <td>{{ elem.region }}</td>
                <td>{{ elem.secteur }}</td>
                <td><a href="modifpartenaire?id={{ elem.id }}">Modifier</a></td>
                <td><a href="deletepartenaire?id={{ elem.id }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}