{% extends "adminbase.html.twig" %}


{% block body %}
    <a href="/admin/addpartenaires" class="add-btn">Ajouter un partenaire</a>

    <table class="revues-list part">
        {% for elem in partenaires %}
            <tr>
                <td>{{ elem.nom }}</td>
                <td>{{ elem.departement }}</td>
                <td>{{ elem.url }}</td>
                <td>{{ elem.region }}</td>
                <td>{{ elem.secteur }}</td>
                <td><a href="modifpartenaire?id={{ elem.id }}">Modifier</a> <a href="deletepartenaire?id={{ elem.id }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}