{% extends "base.html.twig" %}

{% block body %}
    <div class="revue">
        <div class="titre-section">
            <hr>
            <h2 class="h2">Détail de la revue {{ list.numero }}</h2>
        </div>
        <div class="contenu-revue clearfix">
            <div class="apercu">
                <figure>
                    <img src="../../asset/img-content/{{ list.img }}" alt="revue">
                </figure>
                <a href="http://fr.calameo.com/read/00112129973092502e7e5">aperçue</a>

                <h3>{{ list.region }}</h3>
                <a href="/commander?id={{ list.id }}&step=1">commander</a>
            </div>
        </div>

        <div class="titre-section">
            <hr>
            <h2 class="h2">Nos partenaires en {{ list.region }}</h2>
        </div>
            <div class="partenaires clearfix">
                    {% for elem in partenaires %}
                        <div>
                            <figure>
                                <img src="../../asset/img-content/{{ elem.logo }}" alt="{{ elem.nom }}">
                            </figure>
                            <h4>{{ elem.nom }}</h4>
                        </div>
                    {% endfor %}
            </div>
    </div>
{% endblock %}