{% extends "base.html.twig" %}

{% block body %}
<section class="clearfix">

    <div class="actu-title">
        <h2>{{ lastActues.titre }}</h2>
        <h3>{{ lastActues.architecte }}  - {{ lastActues.datepub }}</h3>
    </div>

    <section class="text-actu">
        <figure><img src="../../asset/img-content/{{ lastActues.mainimage }}" alt=""></figure>
        <article>
            <p class="line1">{{ lastActues.description }}</p>
        </article>
    </section>

</section>
{% endblock %}