{% extends "base.html.twig" %}

{% block body %}
    <div class="titre-section">
        <hr>
        <h2 class="h2">Détail de la revue {{ list.numero }}</h2>
    </div>
    <div class="contenu-revue clearfix">
    <a class="back" href="">&#60; Revenir à la page précédente</a>
    <div class="apercu">
        <figure>
            <img src="../../asset/img-content/{{ list.img }}" alt="revue">
        </figure>
        <h3>{{ list.region }}</h3>
        <a href="/commander?id={{ list.id }}&step=1">commander</a>
    </div>


    <div class="titre-section clearfix">
        <hr>
        <h2>Nos partenaires en {{ list.region }}</h2>
    </div>
<<<<<<< HEAD

    <!--
=======
>>>>>>> 26c61840f5d7683412146123cf2a5203f24c14c8
    <div class="partenaires">
    {% for elem in partenaires %}
        <figure>
            <img src="../../asset/img-content/{{ elem.logo }}" alt="{{ elem.nom }}">
        </figure>
        <h4>{{ elem.nom }}</h4>
    {% endfor %}
    </div>
    </div>

{% endblock %}