{% extends "base.html.twig" %}

{% block body %}

    <h1>Ici des détails</h1>

    {{ list.numero }} <br>
    {{ list.zone }}<br>
    {{ list.region }}<br>
    {{ list.img }}<br>
    {{ list.datepub }}

{% endblock %}