{% extends "base.html.twig" %}

{% block body %}
    <h1>HAHAHAHAHAHA CAY LA HOME</h1>

    {% for elem in lastrevues %}
        <tr>
            <td><a href="index.php?a=zone&region={{ elem.region }}">{{ elem.region }}</a></td>
            <td><a href="index.php?a=supp&id={{ elem.id }}">supprimer ({{ elem.id }})</a></td>
            <td><a href="index.php?a=modifier&id={{ elem.id }}">modifier ({{ elem.id }})</a></td>
        </tr>
    {% endfor %}
{% endblock %}
