{% extends "base2.html.twig" %}
{% block title %}Homepage | L'architecture{% endblock %}

{% block body %}

    <section class="dernieres-actu clearfix">

        <div class="titre-section clearfix">
            <hr>
            <h2 class="h2">Les dernières revues</h2>
        </div>

        {% for elem in lastrevues %}
            <div class="revue-actu">
                <a href="revue?id={{ elem.id }}">
                    <div class="ref-numero">
                        <p>N°{{ elem.numero }}</p>
                        <p>{{ elem.region }}</p>
                    </div>
                    <img src="../../asset/img-content/{{ elem.img }}" class="img-dernieres-actu" alt="revue">
                </a>
            </div>
        {% endfor %}
    </section>

    <section class="actualites clearfix">
        <div class="titre-section clearfix">
            <hr>
            <h2 class="h2">Actualités</h2>
        </div>

        {% for elem in lastActus %}
            <div class="actu-part">
                <a href="actu?id={{ elem.id }}">
                    <img src="../../asset/img-content/{{ elem.mainimage }}" class="img-actu-part" alt="partenaire">
                    <h3 class="h3">{{ elem.architecte }}</h3>
                    <p>{{ elem.titre }}</p>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
